.imglogo img{
    width: 5.125rem;
    margin-left:1rem;
}

.navbar-contents ul{
    align-items: center;
    margin-top: 9vh;
    width: 9.125rem;
    margin-left: -20px;
}
.navbar-contents ul li{
    text-decoration: none;
    margin-bottom: 4rem;
    padding: 10px 15px;
    font-size: 16px;
}